@font-face {
  font-family: 'InterstateBold';
  src: url("../newfonts/interstatemazda-bold-webfont.eot");
  src: url("../newfonts/interstatemazda-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../newfonts/interstatemazda-bold-webfont.woff") format("woff"), url("../newfonts/interstatemazda-bold-webfont.ttf") format("truetype"), url("../newfonts/interstatemazda-bold-webfont.svg#InterstateMazdaBold") format("svg");
  font-weight: bold;
  font-style: bold; 
}

@font-face {
  font-family: 'InterstateItalic';
  src: url("../newfonts/interstatemazda-italic-webfont.eot");
  src: url("../newfonts/interstatemazda-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../newfonts/interstatemazda-italic-webfont.woff") format("woff"), url("../newfonts/interstatemazda-italic-webfont.ttf") format("truetype"), url("../newfonts/interstatemazda-italic-webfont.svg#InterstateMazdaItalic") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'InterstateRegular';
  src: url("../newfonts/interstatemazda-regular-webfont.eot");
  src: url("../newfonts/interstatemazda-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../newfonts/interstatemazda-regular-webfont.woff") format("woff"), url("../newfonts/interstatemazda-regular-webfont.ttf") format("truetype"), url("../newfonts/interstatemazda-regular-webfont.svg#InterstateMazdaRegular") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'InterstateLight';
  src: url("../newfonts/interstatemazda-light-webfont.eot");
  src: url("../newfonts/interstatemazda-light-webfont.eot?#iefix") format("embedded-opentype"), url("../newfonts/interstatemazda-light-webfont.woff") format("woff"), url("../newfonts/interstatemazda-light-webfont.ttf") format("truetype"), url("../newfonts/interstatemazda-light-webfont.svg#InterstateMazdaLight") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'InterstateLightItalic';
  src: url("../newfonts/interstatemazda-lightitalic-webfont.eot");
  src: url("../newfonts/interstatemazda-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../newfonts/interstatemazda-lightitalic-webfont.woff") format("woff"), url("../newfonts/interstatemazda-lightitalic-webfont.ttf") format("truetype"), url("../newfonts/interstatemazda-lightitalic-webfont.svg#InterstateMazdaLightItalic") format("svg");
  font-weight: normal;
  font-style: normal; 
}

/* Mazda Brand Font */
@font-face {
  font-family: 'MazdaBold';
  src: url("../newfonts/mazda-bold.eot");
  src: url("../newfonts/mazda-bold.eot?#iefix") format("embedded-opentype"), url("../newfonts/mazda-bold.ttf") format("truetype"), url("../newfonts/mazda-bold.svg#MazdaBold") format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'MazdaRegular';
  src: url("../newfonts/mazda-regular.eot");
  src: url("../newfonts/mazda-regular.eot?#iefix") format("embedded-opentype"), url("../newfonts/mazda-regular.ttf") format("truetype"), url("../newfonts/mazda-regular.svg#MazdaBold") format("svg");
  font-weight: normal;
  font-style: normal; 
}


  
  
  
  
  
@keyframes ajaxRotate {
    100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
    }
}
.ajaxloader, [data-key='ajaxloader'] {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
}
.ajaxloader .arc, [data-key='ajaxloader'] .arc {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}
.ajaxloader .arc::before, .ajaxloader .arc::after, [data-key='ajaxloader'] .arc::before, [data-key='ajaxloader'] .arc::after {
    content: '';
    position: absolute;
    border: 3px solid;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.ajaxloader .arc::before, [data-key='ajaxloader'] .arc::before {
    border-color: #aaa;
}
.ajaxloader .arc::after, [data-key='ajaxloader'] .arc::after {
    border-color: transparent;
    border-bottom-color: #222;
    -webkit-animation: ajaxRotate 1s infinite linear;
    animation: ajaxRotate 1s infinite linear;
}









#headsearchinput {
	margin-top: -30px;
}
#selectVehicle {
	cursor: default;
}
.zoom-zoom {
	float: right;
	width: 147px;
	height: 28px;
	background: url("../images/zoom-zoom.png") no-repeat;
}
.divider {
	font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    font-size: 1.3em !important;
    font-weight: normal !important;
    color: #666 !important;
}
.copyrights { margin-top: 3px !important; }
.copyright { font-size: 10px !important; color: #999 !important; font-family: "InterstateBold",helvetica,arial,sans-serif !important; }
.soc-div { margin: 0 0 0 15px; }
.soc { width: 30px; height: 25px; cursor: pointer; }

.soc-facebook 	{ background: url("../images/soc-facebook.png") no-repeat; }
.soc-google 	{ background: url("../images/soc-google.png") no-repeat; }	
.soc-youtube 	{ background: url("../images/soc-youtube.png") no-repeat; } 
.soc-twitter 	{ background: url("../images/soc-twitter.png") no-repeat; }
.soc-tumblr 	{ background: url("../images/soc-tumblr.png") no-repeat; }
.soc-pinterest 	{ background: url("../images/soc-pinterest.png") no-repeat; }
.soc-instagram 	{ background: url("../images/soc-instagram.png") no-repeat; }
.soc-facebook, .soc-google, .soc-youtube, .soc-twitter, .soc-tumblr, .soc-pinterest, .soc-instagram { }
.soc-facebook:hover, .soc-google:hover, .soc-youtube:hover, .soc-twitter:hover, .soc-tumblr:hover, .soc-pinterest:hover, .soc-instagram:hover 
{ border: 1px solid #191919; }

.soc-subscribe {
	background: url("../images/soc-subscribe.png") no-repeat;
	width: auto;
	padding: 7px 0 0 30px;
	font-family: "InterstateBold",helvetica,arial,sans-serif !important;
}
.soc-mymazda-mobile {
	width: auto;
	padding: 7px 0 0 20px;
}
.soc-adchoices {
	background: url("../images/soc-adchoices.png") no-repeat;
	padding-left: 17px !important;
	font-size: 1.2em !important; 
}

.brand-header {
    color: #191919 !important;
    font-size: 15px !important;
    letter-spacing: .2em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.brand-title {
    color: #191919 !important;
    letter-spacing: .2em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
}

.brand-text {
    color: #191919 !important;
    font-size: 16px !important;
    letter-spacing: .05em !important;
    font-family: "InterstateLight",helvetica,arial,sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
}
.brand-info {
    color: #191919 !important;
    font-size: 14px !important;
    letter-spacing: .05em !important;
    font-family: "InterstateLight",helvetica,arial,sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
}
.brand-link {
	color: #666 !important;
    font-size: 13px !important;
    letter-spacing: .2em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.brand-link:hover {
	color: #101010 !important;
}
.brand-underline {
    padding-bottom: 5px !important;
    border-bottom: 2px solid #666;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.brand-underline:hover {
	color: #101010 !important;
    border-bottom: 2px solid #d00;
    padding-bottom: 2px !important;
}
.brand-underline:hover > .brand-link { color: #101010 !important; }

.brand-link-blackbg {
	color: #ccc !important;
    font-size: 13px !important;
    letter-spacing: .2em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    margin-bottom: 10px !important;
    -webkit-font-smoothing: antialiased;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.brand-link-blackbg:hover {
	color: #fff !important;
}
.brand-underline-blackbg {
    padding-bottom: 5px !important;
    border-bottom: 2px solid #ccc;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.brand-underline-blackbg:hover {
	color: #fff !important;
    border-bottom: 2px solid #d00;
    padding-bottom: 2px !important;
}
.brand-underline-blackbg:hover > .brand-link-blackbg { color: #fff !important; }

.brand-size10 { font-size: 1em !important }
.brand-size11 { font-size: 1.1em !important }
.brand-size12 { font-size: 1.2em !important }
.brand-size13 { font-size: 1.3em !important }

.brand-size10px { font-size: 10px !important }
.brand-size11px { font-size: 11px !important }
.brand-size12px { font-size: 12px !important }
.brand-size13px { font-size: 13px !important }
.brand-size14px { font-size: 14px !important }
.brand-size15px { font-size: 15px !important }

.brand-bold { font-weight: bold !important }
.brand-normal { font-weight: normal !important }

.brand-tmargin10 { margin-top: 10px !important }
.brand-tmargin20 { margin-top: 20px !important }
.brand-tmargin30 { margin-top: 30px !important }
.brand-tmargin40 { margin-top: 40px !important }
.brand-tmargin50 { margin-top: 50px !important }
.brand-bmargin10 { margin-bottom: 10px !important }
.brand-bmargin20 { margin-bottom: 20px !important }
.brand-bmargin30 { margin-bottom: 30px !important }
.brand-bmargin40 { margin-bottom: 40px !important }
.brand-bmargin50 { margin-bottom: 50px !important }
.brand-lmargin10 { margin-left: 10px !important }
.brand-lmargin20 { margin-left: 20px !important }
.brand-lmargin30 { margin-left: 30px !important }
.brand-lmargin40 { margin-left: 40px !important }
.brand-lmargin50 { margin-left: 50px !important }
.brand-rmargin10 { margin-right: 10px !important }
.brand-rmargin20 { margin-right: 20px !important }
.brand-rmargin30 { margin-right: 30px !important }
.brand-rmargin40 { margin-right: 40px !important }
.brand-rmargin50 { margin-right: 50px !important }

.brand-tpadding10 { padding-top: 10px !important }
.brand-tpadding20 { padding-top: 20px !important }
.brand-tpadding30 { padding-top: 30px !important }
.brand-tpadding40 { padding-top: 40px !important }
.brand-tpadding50 { padding-top: 50px !important }
.brand-bpadding10 { padding-bottom: 10px !important }
.brand-bpadding20 { padding-bottom: 20px !important }
.brand-bpadding30 { padding-bottom: 30px !important }
.brand-bpadding40 { padding-bottom: 40px !important }
.brand-bpadding50 { padding-bottom: 50px !important }
.brand-lpadding10 { padding-left: 10px !important }
.brand-lpadding20 { padding-left: 20px !important }
.brand-lpadding30 { padding-left: 30px !important }
.brand-lpadding40 { padding-left: 40px !important }
.brand-lpadding50 { padding-left: 50px !important }
.brand-rpadding10 { padding-right: 10px !important }
.brand-rpadding20 { padding-right: 20px !important }
.brand-rpadding30 { padding-right: 30px !important }
.brand-rpadding40 { padding-right: 40px !important }
.brand-rpadding50 { padding-right: 50px !important }

.brand-bdr-top { border-top: 1px solid #ccc !important }
.brand-bdr-rgt { border-right: 1px solid #ccc !important }
.brand-bdr-btm { border-bottom: 1px solid #ccc !important }
.brand-bdr-lft { border-left: 1px solid #ccc !important }

.letter-space-05 { letter-spacing: .05em !important }
.letter-space-1 { letter-spacing: .1em !important }
.letter-space-2 { letter-spacing: .2em !important }

.cursor-default { cursor: default !important }
.cursor-pointer { cursor: pointer !important }

.carline-info-header {
    color: #fff !important;
    font-size: 18px !important;
    letter-spacing: .2em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
}
.carline-info-text {
    color: #fff !important;
    font-size: 15px !important;
    letter-spacing: .05em !important;
    font-family: "InterstateLight",helvetica,arial,sans-serif !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
}
.carline-info-title {
	color: #fff !important;
    font-size: 20px !important;
    letter-spacing: .2em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
}
.carline-info-dealer {
    color: #fff !important;
    font-size: 15px !important;
    letter-spacing: .2em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
}


.brand-button {
	font-family: "InterstateBold",helvetica,arial,sans-serif !important;
	font-weight: bold !important;
	font-size: 13px !important;
    letter-spacing: .2em !important;
    color: #101010 !important;
    background-color: #fff !important;
    border: 2px solid #101010 !important;
    padding: 14px 23px 14px 23px !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    border-radius: 3px !important;
}
.brand-button:hover {
	color: #fff !important;
    background-color: #d00 !important;
    border: 2px solid #d00 !important;
    -webkit-transition: all .3s,visibility 0s !important;
    -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1) !important;
    transition: all .3s,visibility 0s !important;
    transition-timing-function: cubic-bezier(.86,0,.07,1) !important;
}
.brand-button:focus, .brand-button:active {
	color: #101010 !important;
	border: 2px solid #101010 !important;
	background-color: #fff !important;
}
.brand-button-white {
	font-family: "InterstateBold",helvetica,arial,sans-serif !important;
	font-weight: bold !important;
	font-size: 13px !important;
    letter-spacing: .2em !important;
    color: #fff !important;
    background-color: #101010 !important;
    padding: 14px 23px 14px 23px !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    border-radius: 3px !important;
}
.brand-button-white:hover {
	color: #fff !important;
    background-color: #d00 !important;
    -webkit-transition: all .3s,visibility 0s !important;
    -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1) !important;
    transition: all .3s,visibility 0s !important;
    transition-timing-function: cubic-bezier(.86,0,.07,1) !important;
}
.brand-button-white:focus {
	background-color: #101010 !important;
}
.brand-button-black {
	font-family: "InterstateBold",helvetica,arial,sans-serif !important;
	font-weight: bold !important;
	font-size: 13px !important;
    letter-spacing: .2em !important;
    color: #101010 !important;
    background-color: #fff !important;
    padding: 14px 23px 14px 23px !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    border-radius: 3px !important;
}
.brand-button-black:hover {
	color: #fff !important;
    background-color: #d00 !important;
    -webkit-transition: all .3s,visibility 0s !important;
    -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1) !important;
    transition: all .3s,visibility 0s !important;
    transition-timing-function: cubic-bezier(.86,0,.07,1) !important;
}
.brand-button-black:focus {
	background-color: #fff !important;
}


.dropbtn {
    background-color: transparent;
    padding-top:24px;
    color: #999;
    cursor: pointer;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
	font-weight: bold !important;
	font-size: 13px !important;
    letter-spacing: .2em !important;
    text-transform: uppercase !important;
}
.dropbtn:hover {
	color: #fff;
	-webkit-font-smoothing: antialiased;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #282828;
    padding-top: 4px !important;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
	color: #999;
    padding: 8px !important;
    text-decoration: none;
    display: block;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
	font-weight: bold !important;
	font-size: 11px !important;
    letter-spacing: .2em !important;
}
.dropdown-content a:hover {
	color: #fff;
	-webkit-font-smoothing: antialiased;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.dropdown:hover .dropdown-content {
	display: block;
	-webkit-font-smoothing: antialiased;
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.dropdown-link {
	text-align: right !important;
}
.dropdown-link-video {
	margin-left: -162px !important;
	padding: 10px !important;
}
.dropdown-links-myprofile {
	margin-left: -150px !important;
}

.learn-more-mazda {
	margin: 20px !important;
}

.login-top-title {
    color: #fff !important;
    font-size: 50px;
    line-height: 52px;
    letter-spacing: .3em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    font-weight: bold !important;
    text-decoration: none !important;
    margin-top: 30px;
    -webkit-font-smoothing: antialiased;
}
.login-top-subtitle {
    color: #fff !important;
    font-size: 25px !important;
    line-height: 32px;
    letter-spacing: .2em !important;
    font-family: "InterstateBold",helvetica,arial,sans-serif !important;
    font-weight: bold !important;
    text-decoration: none !important;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased;
}
.login-top-text {
	color: #fff !important;
    font-size: 16px !important;
    letter-spacing: .05em !important;
    font-family: "InterstateLight",helvetica,arial,sans-serif !important;
    text-decoration: none !important;
    margin-top: 10px;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
}
.chat-us {
	font-size: 16px;
	color: #191919; 
	font-family:"InterstateLight",helvetica,arial,sans-serif; 
	text-decoration: underline;
}
.chat-us:hover {
	color: #d00;
}

.divTable {
	display:  table;
	width:100%;
}

.divRow {
	display:table-row;
	width:100%;
}
.divCell {
	display:table-column;
}
.divCellLeft {
	float:left;
	display:table-column;
}
.divCellRight {
	float:right;
	display:table-column;
}
.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}

.accessories-div {
	float:right;
	display:table-column;
}

.egift-info {
	margin-bottom:1cm !important; 
	height:auto !important; 
	width:300px !important; 
	opacity:0.5 !important; 
	background-color:#282828 !important; 
	padding:20px !important;
}
.egift-info h5 {
	color:#ccc !important;
	font-family:"InterstateBold",helvetica,arial,sans-serif !important; 
	font-size:15px !important; 
	font-weight:normal !important; 
	letter-spacing:.2em !important;
}
.egift-info p {
	color:#ccc !important;
	font-family:"InterstateLight",helvetica,arial,sans-serif !important; 
	font-size:14px !important; 
	font-weight:normal !important; 
	letter-spacing:.1em !important;
}
.user-image-div {
	width: 560px;
	height: 315px;
	-webkit-border-radius: 5px !important; 
	-moz-border-radius: 5px !important; 
	-ms-border-radius: 5px !important; 
	border-radius: 5px !important;
}
.user-uploaded-image {
	width: 100%;
	height: 100%;
}

.my-profile-icon {
	background: url("../images/my-profile.png") no-repeat;
	width: 29px;
	height: 30px;
	margin-top: 24px;
}
.no-recall-message {
    color: #191919 !important;
    font-size: 16px !important;
    letter-spacing: .05em !important;
    font-family: "InterstateLight",helvetica,arial,sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
}




.sub-update { border-bottom: 1px solid #444 !important; }
.sub-update-bdr { border-right: 1px solid #666 !important; }
.mazdausa-com { display: inline-block !important; }
.fin-ser { display: inline-block !important; }
.my-profile { display: none !important; }
.myprofile-logout { display: block !important; }
.mobile-logout { display: none !important; }
/* .loggedin-veh-demo { display: none !important; } */
.mob-margin-top { margin-top: 0px !important; }
.mob-margin-bottom { margin-bottom: 0px !important; }
.terms-div { margin-left: 7px; }
.terms-break { display: none !important; }
.brand-link-height { line-height: 25px !important; }
.forgot-pwd { margin-left: 20px !important;  }

@media screen and (max-width: 767px) {
	.login-top-title { font-size: 35px !important; line-height: 37px; margin-top: 0px; }
	.login-top-subtitle { font-size: 15px !important; line-height: 22px; margin-top: 0px; }
	.login-top-text { font-size: 14px !important; line-height: 20px; margin-top: 10px; }
	.brand-button-black { width: 98% !important; }
	.brand-text { font-size: 14px !important; }
	.recall-info { margin: 70px 0 50px 15px !important; }
	.quick-links { margin: 90px 0 0 0 !important; }
	.copyrights { float: left; margin-top: 20px !important; }
	.sub-update { padding-top: 0px !important; }
	.bg-w, .bg-w1, .bg-w2, .bg-w3 { background: transparent !important; }
	.mazdausa-com { display: none !important; }
	.fin-ser { display: none !important; }
	.my-profile { display: block !important; }
	.loggedin-myprofile { display: none !important; }
	.myprofile-logout { display: none !important; }
	.mobile-logout { display: block !important; }
	/* .veh-demo-dots { display: none !important; }
	.loggedin-veh-demo { display: block !important; float: right; } */
	.mob-margin-top { margin-top: 20px !important; }
	.mob-margin-bottom { margin-bottom: 20px !important; }
	.brand-bdr-rgt { border-right: 0px !important; }
	.egift-info {
		margin:30px 0 70px 15px !important;
		height:auto !important; 
		width:385px !important; 
		opacity:0.5 !important; 
		background-color:#282828 !important; 
		padding:20px !important;
		color: #ccc !important;
	}
	.submenu-expand { 
		-webkit-font-smoothing: antialiased;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		padding-top:210px !important;
		height: auto !important;
	}
	.searchfield-div-pre { display: none !important; }
	.user-image-div { width: 100% !important;	height: 100% !important; }
	.sub-update-bdr { border: none !important; }
	.terms-div { margin-left: 0 !important; }
	.terms-break { display: block !important; }
	.terms-divide { display: none !important; }
	.social-div { margin: 15px 0 0 -17px !important; }
	#vehicledetail { padding-top: 30px !important; }
	.accessories-div { float: left; }
	.subscribe-icon:before { padding: 0 0 0 5px !important; }
	.chat-us { font-size: 14px; }
	.link-height { line-height: 25px !important; }
	.forgot-pwd { float: left !important; margin-left: -5px !important; padding-left: 0 !important;  }
}
@media screen and (max-width: 375px) {
	.link-height { line-height: 25px !important; }
}
@media screen and (max-width: 991px) {
	.user-image-div { width: 400px; height: 225px; }
}



/* Interface Icons */
@font-face {
  font-family: 'InterfaceIcons';
  src: url("../newfonts/interface-icons.eot");
  src: url("../newfonts/interface-icons.eot?#iefix") format("embedded-opentype"), url("../newfonts/interface-icons.ttf") format("truetype"), url("../newfonts/interface-icons.svg#InterfaceIcons") format("svg");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'standard-icon-font';
  src: url("../newfonts/standard-icon-font.eot?212cfa3dbcf1e847e3f862a7bdd3a29d?#iefix") format("embedded-opentype"), url("../newfonts/standard-icon-font.woff?212cfa3dbcf1e847e3f862a7bdd3a29d") format("woff"), url("../newfonts/standard-icon-font.ttf?212cfa3dbcf1e847e3f862a7bdd3a29d") format("truetype"), url("../newfonts/standard-icon-font.svg?212cfa3dbcf1e847e3f862a7bdd3a29d#standard-icon-font") format("svg"); 
}


.subscribe-icon {
    color: #999;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "InterstateBold", helvetica, arial, sans-serif;
    font-size:  11px;
    font-size:  1.1rem;
    height: 30px;
    letter-spacing: 0.2em;
    line-height: 33px;
    padding: 0 10px 0 9px;
    position: relative;
	text-transform: uppercase; 
}
.subscribe-icon:before {
	content: "\f123";
	font-family: "standard-icon-font";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	font-size:  20px;
	position: relative;
	top: 6px;
	right: 8px; 
	padding: 0 0 0 12px;
}
.subscribe-icon:hover {
	color: #fff; 
}
.subscribe-icon:hover:before {
	color: #d00;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

.adchoices-icon {
    color: #999;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "InterstateBold", helvetica, arial, sans-serif;
    font-size:  11px;
    font-size:  1.1rem;
    height: 30px;
    letter-spacing: 0.2em;
    line-height: 33px;
    padding: 0 10px 0 9px;
    position: relative;
	text-transform: uppercase; 
}
.adchoices-icon:before {
	content: "\f102";
	font-family: "standard-icon-font";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	font-size:  15px;
	position: relative;
	top: 6px;
	right: 8px; 
	padding: 0 0 0 12px;
}
.adchoices-icon:hover {
	color: #fff; 
}
.adchoices-icon:hover:before {
	color: #d00;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

.social-list {
  display: block;
  float: left;
  height: 30px;
  margin: 5px 0 0;
  position: relative; 
}
.social-list-item {
  background-position: center top;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  margin: 5px 12px !important;
  height: 22px;
  width: 22px;
}
.social-list-item > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2; 
}
.social-list-item--facebook:before {
  content: "\f10e";
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.social-list-item--facebook:before {
  position: absolute;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size:  20px;
  color: #999; 
}
.social-list-item--facebook:hover:before {
  color: #FFF; 
}
.social-list-item--googleplus:before {
  content: "\f10f";
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.social-list-item--googleplus:before {
  position: absolute;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size:  20px;
  color: #999; 
}
.social-list-item--googleplus:hover:before {
  color: #FFF; 
}
.social-list-item--youtube:before {
  content: "\f113";
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.social-list-item--youtube:before {
  position: absolute;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size:  20px;
  color: #999; 
}
.social-list-item--youtube:hover:before {
  color: #FFF; 
}
.social-list-item--twitter:before {
  content: "\f112";
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.social-list-item--twitter:before {
  position: absolute;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size:  20px;
  color: #999; 
}
.social-list-item--twitter:hover:before {
  color: #FFF; 
}
.social-list-item--tumblr:before {
  content: "\f13b";
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.social-list-item--tumblr:before {
  position: absolute;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size:  20px;
  color: #999; 
}
.social-list-item--tumblr:hover:before {
  color: #FFF; 
}
.social-list-item--pinterest:before {
  content: "\f111";
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.social-list-item--pinterest:before {
  position: absolute;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size:  20px;
  color: #999;
}
.social-list-item--pinterest:hover:before {
  color: #FFF; 
}
.social-list-item--instagram:before {
  content: "\f110";
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.social-list-item--instagram:before {
  position: absolute;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size:  20px;
  color: #999; 
}
.social-list-item--instagram:hover:before {
  color: #FFF; 
}




