<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MyMazda</display-name>
  <listener>
    <listener-class>
	        org.apache.struts2.tiles.StrutsTilesListener
	    </listener-class>
  </listener>
  
 <context-param>
    <param-name>tilesDefinitions</param-name>
    <param-value>/WEB-INF/tiles.xml</param-value>
 </context-param>
  
   <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j.xml</param-value>
  </context-param>
  
  <listener>
  	<listener-class>com.mazda.common.utility.ContextListener</listener-class>
  </listener>  
   <!--  <filter>
    <filter-name>ResponseOverrideFilter</filter-name>
    <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
	  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
	  	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 <!--  <error-page>
    <error-code>400</error-code>
    <location>/view/exception/globalException.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/view/exception/globalException.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/view/exception/globalException.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/view/exception/globalException.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/view/exception/globalException.jsp</location>
  </error-page> -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <mime-mapping>    
            <extension>js</extension>        
            <mime-type>application/javascript</mime-type>        
        </mime-mapping>
</web-app>